<div class="post-box">
    <div>
        <h2 class="post-title"><strong>{{post.title}}</strong></h2>
        <p>Created by: {{post.user.username}}</p>
        <p>{{post.user.password}} -- This is your password!</p>
        <p>Content: {{post.content}}</p>
    </div>
    <div>
        <p>Comments:
            {{#each comments as |comment|}}
            <div class="comment-box">
                <br>{{comment.user_id}}</br>
                <br>{{comment.content}}</br>
            </div>
            {{/each}}
        </p>
    </div>
</div>
