<div>
    <h2><strong>{{post.title}}</strong></h2>
    <p>Created by: {{post.user.username}}</p>
    <p>{{post.user.password}} <-- This is your password!</p>
    <p>Content: {{post.content}}</p>
    <p>Comments:
        <br>{{post.comment}}</br>
    </p>
</div>
